<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Chat</title>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
	function sendMessage() {
		let message = $('#chatbox').val();
		if (message == '' || message.trim().length == 0) {
			alert('메세지를 입력해주세요');
		} else {
			$.ajax({
				type : "post",
				dataType : "json",
				async : true,
				url : "/chat",
				data : {
					message : message
				},
				success : function(data, textStatus) {
					let ul = $('#chat');
					$('#chatbox').val('');
					ul.append("<li>나: " + data.sendmessage + "</li>");
					ul.append("<li>서버: " + data.returnmessage + "</li>")
				},
				error : function(data, textStatus) {
					alert('에러 발생');
				},
				complete : function(data, textStatus) {
				}
			});
		}
	}
</script>
<style>
	ul {
		list-style: none;
	}
</style>

</head>
<body>
	<!-- <audio th:src="audio/1635680789768.mp3" autoplay hidden="true"></audio> -->
	<ul id="chat">
		<li><span th:text="${msg}"></span></li>
	</ul>
	<textarea id="chatbox" name="chat"></textarea><input type="button" value="전송" onclick="sendMessage()">
</body>
</html>